#esquinas_redondeadas {
    border: rgb(138, 58, 230) 3px solid;
    border-radius: 10px;
    height: 300px;
    width: 600px;
    background-color: #4FFFF2;
}

#tabla_datos {
    border: rgb(217, 223, 141) 3px solid;
    border-radius: 10px;
    height: 98px;
    width: 185px;
}

#td_t1 {
    border: black 1px solid;
}

#th_t1 {
    border: black 1px solid;
}